Old_App_WebReferences/com/naseba/crmstaging/Engine0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://newes.naseba.com" elementFormDefault="qualified" targetNamespace="http://newes.naseba.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crmstaging.naseba.com/Engine.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" />
  <xs:import schemaLocation="http://crmstaging.naseba.com/Engine.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetVisa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetVisaResult" nillable="true" type="q1:Visa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ComingFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VisaType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyActivity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VisaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateVisaResult" nillable="true" type="q2:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisaScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisaId" type="xs:int" />
        <xs:element minOccurs="0" name="VisaScan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisaScanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateVisaScanResult" nillable="true" type="q3:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassportScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisaId" type="xs:int" />
        <xs:element minOccurs="0" name="PassportScan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassportScanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdatePassportScanResult" nillable="true" type="q4:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuideLines">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuideLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetGuideLinesResult" nillable="true" type="q5:ArrayOfGuidelines" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGuideLines">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GuideLines" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGuideLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateGuideLinesResult" nillable="true" type="q6:ArrayOfGuidelines" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGuideLineDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GuideLineDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GuidelineType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGuideLineDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateGuideLineDocResult" nillable="true" type="q7:ArrayOfGuidelines" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContractPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoicePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddConractResult" nillable="true" type="q8:Contracts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocId" type="xs:int" />
        <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContractPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateContractResult" nillable="true" type="q9:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocId" type="xs:int" />
        <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoicePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateInvoiceResult" nillable="true" type="q10:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteContractResult" nillable="true" type="q11:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventContracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetEventContractsResult" nillable="true" type="q12:ArrayOfContracts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeContracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAttendeeContractsResult" nillable="true" type="q13:ArrayOfContracts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingSlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AllocatedTable" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetMeetingSlotsResult" nillable="true" type="q14:ArrayOfMeetingSlot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMeetingSlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMeetingSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAllMeetingSlotsResult" nillable="true" type="q15:ArrayOfMeetingSlot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNasebaUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNasebaUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAllNasebaUsersResult" nillable="true" type="q16:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNasebaUsersByOffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OfficeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNasebaUsersByOfficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetNasebaUsersByOfficeResult" nillable="true" type="q17:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeesFromDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeesFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAllEmployeesFromDBResult" nillable="true" type="q18:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="ThisEmployee" nillable="true" type="q19:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="SynchEmployeeResult" nillable="true" type="q20:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWorldCountriesResult" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StripCompaniesMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CompaniesIds" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StripCompaniesMetaDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageSubject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
        <xs:element minOccurs="0" name="BusinessId" type="xs:int" />
        <xs:element minOccurs="0" name="MessageStatusId" type="xs:int" />
        <xs:element minOccurs="0" name="ReceiverContactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SenderContactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReceiverName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="InsertMessageResult" nillable="true" type="q23:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MeetingStatusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAllContactMessagesResult" nillable="true" type="q24:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMessagesByRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MeetingStatusId" type="xs:int" />
        <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="NumRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMessagesByReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetPageMessagesByReadResult" nillable="true" type="q25:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MeetingStatusId" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="NumRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetPageMessagesResult" nillable="true" type="q26:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMessagesCountByRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MeetingStatusId" type="xs:int" />
        <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMessagesCountByReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPageMessagesCountByReadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MeetingStatusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMessagesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesCountByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
        <xs:element minOccurs="0" name="MessageStatusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesCountByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMessagesCountByTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMessageReadStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageId" type="xs:int" />
        <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMessageReadStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeMessageReadStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDemography">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDemographyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetContactDemographyResult" nillable="true" type="q27:SFContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvitedAttendees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvitedAttendeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetInvitedAttendeesResult" nillable="true" type="q28:ArrayOfInvitedAttendee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetFeedBackResult" nillable="true" type="q29:FeedBack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RateEvent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PreEventOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OnSiteOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PotentialTopics" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecommendIndustry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Suggestions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PreEventNomination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AwardCategories" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JudgingProcedure" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AwardSelection" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OnSiteAwardProgram" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BeforeEC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DuringEC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BeforeProducer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DuringProducer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DidBusiness" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DelegateCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount" type="xs:double" />
        <xs:element minOccurs="0" name="Testimonials" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateEventFeedbackResult" nillable="true" type="q30:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrainingFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TrainingContent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Trainer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TrainerQuality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TrainingFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TrainingPace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ConceptLearn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactTrainer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecommendName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecommendSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecommendJobTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecommendCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecommendPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecommendFax" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecommendEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PreEventOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OnSiteOrg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrainingFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateTrainingFeedbackResult" nillable="true" type="q31:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpeakerFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpeakerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Rating" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpeakerFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateSpeakerFeedbackResult" nillable="true" type="q32:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeakerReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpeakerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeakerReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetSpeakerReviewResult" nillable="true" type="q33:FeedBack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttendeeNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttendeeNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAttendeeNoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAttendeeNotesResult" nillable="true" type="q34:ArrayOfAttendeeNotesAndAttachments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttendedWorkshop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" type="xs:int" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttendedWorkshopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddAttendedWorkshopResult" nillable="true" type="q35:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAttendedWorkshops">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAttendedWorkshopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetEventAttendedWorkshopsResult" nillable="true" type="q36:ArrayOfAttendedWorkshop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendedWorkshop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendedWorkshopId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendedWorkshopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteAttendedWorkshopResult" nillable="true" type="q37:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteMessageResult" nillable="true" type="q38:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetCredentialsResult" nillable="true" type="q39:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MeetingPriority" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="ScheduleResult" nillable="true" type="q40:ScheduleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManualSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeWantId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeToId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MeetingSlotId" type="xs:int" />
        <xs:element minOccurs="0" name="IsPrimary" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManualScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="ManualScheduleResult" nillable="true" type="q41:ScheduleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdditionalMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeWantId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeToId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MeetingSlotId" type="xs:int" />
        <xs:element minOccurs="0" name="MeetingBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsPrimary" type="xs:boolean" />
        <xs:element minOccurs="0" name="MeetingStatusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdditionalMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddAdditionalMeetingResult" nillable="true" type="q42:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventMeetings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventMeetingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetEventMeetingsResult" nillable="true" type="q43:ArrayOfMeeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeMeetings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeMeetingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAttendeeMeetingsResult" nillable="true" type="q44:ArrayOfMeeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllMeetings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllMeetingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteAllMeetingsResult" nillable="true" type="q45:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MeetingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteMeetingResult" nillable="true" type="q46:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMeetingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MeetingId" type="xs:int" />
        <xs:element minOccurs="0" name="MeetingStatusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMeetingStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateMeetingStatusResult" nillable="true" type="q47:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenBusinessMeetings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenBusinessMeetingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetOpenBusinessMeetingsResult" nillable="true" type="q48:ArrayOfOpenBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeOpenBusinessMeetings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeOpenBusinessMeetingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAttendeeOpenBusinessMeetingsResult" nillable="true" type="q49:ArrayOfOpenBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusinessMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeWantId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeToId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessStatusId" type="xs:int" />
        <xs:element minOccurs="0" name="MeetingDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusinessMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddBusinessMeetingResult" nillable="true" type="q50:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOpenBusinessMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenBusinessId" type="xs:int" />
        <xs:element minOccurs="0" name="OpenBusinessStatusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOpenBusinessMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateOpenBusinessMeetingResult" nillable="true" type="q51:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProposeNewTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenBusinessId" type="xs:int" />
        <xs:element minOccurs="0" name="AttendeeWantId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeToId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OpenBusinessStatusId" type="xs:int" />
        <xs:element minOccurs="0" name="MeetingDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProposeNewTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="ProposeNewTimeResult" nillable="true" type="q52:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSelectedOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSelectedOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAllSelectedOptionsResult" nillable="true" type="q53:ArrayOfSelectedOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelectedOptionSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SelectedSessionId" type="xs:int" />
        <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelectedOptionSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddSelectedOptionSessionResult" nillable="true" type="q54:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAccomodationResult" nillable="true" type="q55:Accomodation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VenueDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccomodationProcess" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateAccomodationResult" nillable="true" type="q56:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocumentPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateAccomodationDocumentResult" nillable="true" type="q57:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetShipmentDetailsResult" nillable="true" type="q58:Shipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateShipmentResult" nillable="true" type="q59:Shipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShipmentConsignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="ThisConsignment" nillable="true" type="q60:ShipmentConsignment" />
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShipmentConsignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddShipmentConsignmentResult" nillable="true" type="q61:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipmentConsignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="ThisConsignment" nillable="true" type="q62:ShipmentConsignment" />
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipmentConsignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateShipmentConsignmentResult" nillable="true" type="q63:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeShipmentConsignments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeShipmentConsignmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAttendeeShipmentConsignmentsResult" nillable="true" type="q64:ArrayOfShipmentConsignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentConsignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShipmentConsignmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentConsignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetShipmentConsignmentResult" nillable="true" type="q65:ShipmentConsignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShipmentConsignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShipmentConsignmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShipmentConsignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteShipmentConsignmentResult" nillable="true" type="q66:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConsigmentShipmentItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="ThisShipmentItem" nillable="true" type="q67:ShipmentItem" />
        <xs:element minOccurs="0" name="ConsignmentShipmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConsigmentShipmentItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddConsigmentShipmentItemResult" nillable="true" type="q68:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsigmentShipmentItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="ThisShipmentItem" nillable="true" type="q69:ShipmentItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsigmentShipmentItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateConsigmentShipmentItemResult" nillable="true" type="q70:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsigmentShipmentItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShipmentConsignmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsigmentShipmentItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetConsigmentShipmentItemsResult" nillable="true" type="q71:ArrayOfShipmentItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsigmentShipmentItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShipmentConsignmentItemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsigmentShipmentItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetConsigmentShipmentItemResult" nillable="true" type="q72:ShipmentItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConsigmentShipmentItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShipmentItemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConsigmentShipmentItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteConsigmentShipmentItemResult" nillable="true" type="q73:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaqByEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaqByEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetFaqByEventResult" nillable="true" type="q74:Faq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFaq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FaqRTF" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FaqHTML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFaqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateFaqResult" nillable="true" type="q75:Faq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialFunctions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialFunctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetSpecialFunctionsResult" nillable="true" type="q76:SpecialFunctions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialFunctions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialFunctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateSpecialFunctionsResult" nillable="true" type="q77:SpecialFunctions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisaDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisaDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetVisaDetailsResult" nillable="true" type="q78:VisaDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisaDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SaudiVisaDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisaDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateVisaDetailsResult" nillable="true" type="q79:VisaDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisaAppForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VisaAppForm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisaAppFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateVisaAppFormResult" nillable="true" type="q80:VisaDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCredCardAuthForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreditCardAuthForm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCredCardAuthFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateCredCardAuthFormResult" nillable="true" type="q81:VisaDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVisa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ComingFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VisaType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyActivity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVisaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddVisaResult" nillable="true" type="q82:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetVisasResult" nillable="true" type="q83:ArrayOfVisa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="LoginResult" nillable="true" type="q84:MyLoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebLogin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WebLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="WebLoginResult" nillable="true" type="q85:MyLoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYears">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetYearsResult" nillable="true" type="q86:ArrayOfAddValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetEventsResult" nillable="true" type="q87:ArrayOfAddValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEventContactsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetFormatResult" nillable="true" type="q88:Format" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactEventFormats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactEventFormatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetContactEventFormatsResult" nillable="true" type="q89:ArrayOfFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TablesAllocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumberOfTables" type="xs:int" />
        <xs:element minOccurs="0" name="EmailAlertOnSelection" type="xs:boolean" />
        <xs:element minOccurs="0" name="VenueTimeOffset" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SelectionDeadline" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SmsAlertOnSelection" type="xs:boolean" />
        <xs:element minOccurs="0" name="SmsLatencyTime" type="xs:double" />
        <xs:element minOccurs="0" name="DoubleMeetings" type="xs:boolean" />
        <xs:element minOccurs="0" name="CaseStudy" type="xs:boolean" />
        <xs:element minOccurs="0" name="ShowAccomodation" type="xs:boolean" />
        <xs:element minOccurs="0" name="ShowVisaInfo" type="xs:boolean" />
        <xs:element minOccurs="0" name="ShowSpecialFunctions" type="xs:boolean" />
        <xs:element minOccurs="0" name="ShowFaqs" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateFormatResult" nillable="true" type="q90:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptionSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptionSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetOptionSetResult" nillable="true" type="q91:ArrayOfOptionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAgenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgendaName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAgendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddAgendaResult" nillable="true" type="q92:Agenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAgendas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAgendasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetEventAgendasResult" nillable="true" type="q93:ArrayOfAgenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAgenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgendaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAgendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteAgendaResult" nillable="true" type="q94:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAgendaDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgendaId" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DayStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DayEndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAgendaDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddAgendaDayResult" nillable="true" type="q95:AgendaDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAgendaDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgendaDayId" type="xs:int" />
        <xs:element minOccurs="0" name="AgendaId" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DayStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DayEndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAgendaDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateAgendaDayResult" nillable="true" type="q96:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAgendaDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgendaDayId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAgendaDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteAgendaDayResult" nillable="true" type="q97:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgendaDayId" type="xs:int" />
        <xs:element minOccurs="0" name="SessionTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="SessionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumberOfSeats" type="xs:int" />
        <xs:element minOccurs="0" name="SessionStartTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SessionEndTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddSessionResult" nillable="true" type="q98:DaySession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgendaDayId" type="xs:int" />
        <xs:element minOccurs="0" name="NumberOfSeats" type="xs:int" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SessionStartTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SessionEndTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SessionTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateSessionResult" nillable="true" type="q99:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgendaDayId" type="xs:int" />
        <xs:element minOccurs="0" name="SessionTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="SessionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumberOfSeats" type="xs:int" />
        <xs:element minOccurs="0" name="ParentSessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddSessionOptionResult" nillable="true" type="q100:DaySession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSessionOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgendaDayId" type="xs:int" />
        <xs:element minOccurs="0" name="NumberOfSeats" type="xs:int" />
        <xs:element minOccurs="0" name="SessionTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSessionOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateSessionOptionResult" nillable="true" type="q101:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteSessionResult" nillable="true" type="q102:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSessionOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSessionOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteSessionOptionResult" nillable="true" type="q103:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWalkIns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWalkInsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetWalkInsResult" nillable="true" type="q104:ArrayOfAttendee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAttendeesResult" nillable="true" type="q105:ArrayOfAttendee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegisteredAttendee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HasMeetings" type="xs:boolean" />
        <xs:element minOccurs="0" name="AvailableFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AvailableTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AllocatedTable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Day1" type="xs:boolean" />
        <xs:element minOccurs="0" name="Day2" type="xs:boolean" />
        <xs:element minOccurs="0" name="Day3" type="xs:boolean" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsImportant" type="xs:boolean" />
        <xs:element minOccurs="0" name="AccommodationIncluded" type="xs:boolean" />
        <xs:element minOccurs="0" name="AttendeeNotes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BadgeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="SmsBeforeMeeting" type="xs:boolean" />
        <xs:element minOccurs="0" name="PassedWizard" type="xs:boolean" />
        <xs:element minOccurs="0" name="CompanyProfile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailAlertType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CaseStudyHTML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegisteredAttendeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateRegisteredAttendeeResult" nillable="true" type="q106:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWalkin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeRole" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BadgeNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWalkinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddWalkinResult" nillable="true" type="q107:Attendee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWalkin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BadgeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="Day1" type="xs:boolean" />
        <xs:element minOccurs="0" name="Day2" type="xs:boolean" />
        <xs:element minOccurs="0" name="Day3" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsImportant" type="xs:boolean" />
        <xs:element minOccurs="0" name="AccomodationIncluded" type="xs:boolean" />
        <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWalkinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateWalkinResult" nillable="true" type="q108:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteAttendeeResult" nillable="true" type="q109:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegisteredAttendeeOffline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BadgeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Day1" type="xs:boolean" />
        <xs:element minOccurs="0" name="Day2" type="xs:boolean" />
        <xs:element minOccurs="0" name="Day3" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsImportant" type="xs:boolean" />
        <xs:element minOccurs="0" name="AccommodationIncluded" type="xs:boolean" />
        <xs:element minOccurs="0" name="AttendeeNotes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegisteredAttendeeOfflineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateRegisteredAttendeeOfflineResult" nillable="true" type="q110:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWalkinOffline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BadgeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Day1" type="xs:boolean" />
        <xs:element minOccurs="0" name="Day2" type="xs:boolean" />
        <xs:element minOccurs="0" name="Day3" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsImportant" type="xs:boolean" />
        <xs:element minOccurs="0" name="AccomodationIncluded" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWalkinOfflineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddWalkinOfflineResult" nillable="true" type="q111:Attendee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWalkinOffline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BadgeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="Day1" type="xs:boolean" />
        <xs:element minOccurs="0" name="Day2" type="xs:boolean" />
        <xs:element minOccurs="0" name="Day3" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsImportant" type="xs:boolean" />
        <xs:element minOccurs="0" name="AccomodationIncluded" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWalkinOfflineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateWalkinOfflineResult" nillable="true" type="q112:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AuthenticateContactResult" nillable="true" type="q113:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveContactPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveContactPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="RetrieveContactPasswordResult" nillable="true" type="q114:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMeetingChoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeWantId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeToId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Priority" type="xs:int" />
        <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMeetingChoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddMeetingChoiceResult" nillable="true" type="q115:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventMeetingChoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventMeetingChoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetEventMeetingChoicesResult" nillable="true" type="q116:ArrayOfMeetingChoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeetingChoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChoiceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeetingChoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="DeleteMeetingChoiceResult" nillable="true" type="q117:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeMeetingChoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttendeeWantId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendeeMeetingChoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAttendeeMeetingChoicesResult" nillable="true" type="q118:ArrayOfMeetingChoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChoicePriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChoiceId" type="xs:int" />
        <xs:element minOccurs="0" name="Priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChoicePriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="UpdateChoicePriorityResult" nillable="true" type="q119:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="GetAllMessagesResult" nillable="true" type="q120:ArrayOfAttendeeMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageStatusID" type="xs:int" />
        <xs:element minOccurs="0" name="Incoming" type="xs:boolean" />
        <xs:element minOccurs="0" name="MessageSubject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageHTML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageRTF" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecipientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecipientEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecipientCompany" nillable="true" type="xs:string" />
        <xs:element xmlns:q121="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attachments" nillable="true" type="q121:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddEmailResult" nillable="true" type="q122:AttendeeMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttendeeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageStatusID" type="xs:int" />
        <xs:element minOccurs="0" name="Incoming" type="xs:boolean" />
        <xs:element minOccurs="0" name="MessageRTF" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageLatency" type="xs:int" />
        <xs:element minOccurs="0" name="RecipientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RecipientCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeliveryNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="AddSMSResult" nillable="true" type="q123:AttendeeMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSentEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageID" type="xs:int" />
        <xs:element minOccurs="0" name="MessageHtml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSentEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="SetSentEmailResult" nillable="true" type="q124:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSentSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageID" type="xs:int" />
        <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSentSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/CrmEngine.Classes" minOccurs="0" name="SetSentSMSResult" nillable="true" type="q125:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>